body {
  font-family: sans-serif;
  padding: 1.5rem;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  margin: auto;
  text-align: center;
  color: #2196f3;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 150px;
}

.mes {
  color: #0e0000;
  font-size: 30px;
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  min-width: 140px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}